{%- liquid
  assign container_class = 'bg-primary text-contrast'
  assign input_class = 'focus:border-primary/20'
-%}

<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} client:idle>
  <header id="shopify-section-header" role="banner" class="{{ container_class }} h-nav w-full leading-none backdrop-blur-lg px-4 flex justify-between items-center gap-4 md:px-8 lg:gap-8 lg:px-12 py-8 text-xl sm:text-2xl lg:text-3xl">

    <div class="flex items-center gap-12 w-full lg:w-auto justify-start mt-8">
      <a href="{{ routes.root_url }}" class="flex items-center">
        <img src="{{ 'logo.png' | asset_url }}" style="height: 5.5rem;" class="mr-3" />
      </a>
    </div>

    <div class="flex items-center gap-12 w-full lg:w-auto justify-center mt-8">
      <a href="{{ routes.root_url }}" class="flex items-center">
        <img src="{{ 'shop.png' | asset_url }}" class="h-28 md:h-32 xl:h-40" />
      </a>
    </div>

    <div class="flex items-center justify-end w-full gap-4 lg:gap-1 lg:w-auto">

      <a href="{{ routes.cart_url }}" class="relative flex items-center justify-center mr-2 size" id="cart-icon-bubble">
        {{ 'templates.cart.cart' | t | upcase }} ( {{ cart.item_count }} )
      </a>

      <button id="dropdownRadioButton" data-dropdown-toggle="dropdownDefaultRadio" class="group rounded-md px-2 pt-2 pb-1.5 text-center inline-flex items-center bg-black" type="button">
          <input style="top:-1px;" id="default-radio-current" disabled type="radio" value="" name="default-radio" class="relative cursor-pointer w-4 h-4 text-white border-white group-hover:bg-customGreen group-hover:text-customGreen group-focus:ring-0 bg-black">
          <label for="default-radio-current" class="cursor-pointer ml-1 font-medium group-hover:text-customGreen text-white">{{ section.settings.menu.links[0].title }}</label>
      </button>

      <!-- Dropdown menu -->
      <div id="dropdownDefaultRadio" class="z-10 hidden bg-black divide-y divide-gray-100 rounded-lg shadow">
        <ul class="p-3 space-y-3 text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioButton">
          {%- for link in section.settings.menu.links -%}
            {% assign linkUrl = link.url %}
            {% assign linkTitle = link.title %}
            {%- if customer -%}
              {% assign linkUrl = routes.account_url %}
              {% assign linkTitle = 'customer.account_fallback' | t %}
            {%- endif -%}
            <li class="cursor-pointer bg-black group">
              <a href="{{ linkUrl }}" class="w-full block group-hover:text-customGreen">
                <div style="top: -1px" class="inline-block w-4 h-4 border-2 border-white rounded-full relative">
                  <span class="block w-full h-full rounded-full bg-transparent transition-background ease-in-out duration-300 {% if link.current %}bg-notice{% endif %} group-hover:bg-customGreen group-focus:ring-0"></span>
                </div>
                <label for="default-radio-{{ link.url }}" class="cursor-pointer ml-1 text-md font-medium group-hover:text-customGreen text-white">{{ linkTitle }}</label>
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "class": "z-10",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Primary navigation"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "Enable sticky header",
      "info": "Header shows on the screen as customers scroll up."
    }
  ]
}
{% endschema %}
